<!-- HFH Sheet Template -->
{% extends "dashboard.html" %}
{% block wfhsheet %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="search-form" action="" method="POST">
                <div class="row">
                    <div class="col-9">
                        <input id="search" class="search form-control" type="text" placeholder="search">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary mb-2"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">PC NO</th>
                        <th scope="row">Bio</th>
                        <th scope="row">Name</th>
                        <th scope="row">Host Name</th>
                        <th scope="row">DID User</th>
                        <th scope="row">DID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                    <tr>
                        <th scope="col">2</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                    <tr>
                        <th scope="col">3</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                    <tr>
                        <th scope="col">4</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                    <tr>
                        <th scope="col">5</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                    <tr>
                        <th scope="col">6</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                    <tr>
                        <th scope="col">7</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">32514</th>
                        <th scope="col">3251445</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}
