<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fonts/bootstrap-icons.woff')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fonts/bootstrap-icons.woff2')}}">


</head>
<body>
<!-- Start -- Main Site will include here  -->
    {% block body %}
    {% endblock %}
<!-- End -- Main Site will include here  -->
</body>
<!--  Site Scripts -->
<script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script> -->
<script src="{{url_for('static', filename='js/feather.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>

</html>
