<!-- Returned PCs Template -->
{% extends "dashboard.html" %}
{% block returned %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="search-form" action="" method="POST">
                <div class="row">
                    <div class="col-9">
                        <input id="search" class="search form-control" type="text" placeholder="search">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary mb-2"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <table class="table table-striped table-responsive ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="row">PC NO</th>
                        <th scope="row">Bio</th>
                        <th scope="row">Name</th>
                        <th scope="row">Host Name</th>
                        <th scope="row">Checked By</th>
                        <th scope="row">Status</th>
                        <th scope="row">Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                    <tr>
                        <th scope="col">1</th>
                        <th scope="col">4172578</th>
                        <th scope="col">Mohamed Faisal</th>
                        <th scope="col">EG-A1-WFH-1</th>
                        <th scope="col">Name</th>
                        <th scope="col">Good</th>
                        <th scope="row">HDD Health 100%</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}
